<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">To-Do List</a>
    </div>
    <div class="collapse navbar-collapse">
      <form class="navbar-form navbar-right">
        <input class="form-control mr-sm-2"
               type="search"
               placeholder="Search"
               aria-label="Search"
               ng-model="$ctrl.query">
          <select class="form-control mr-sm-2"
                  ng-model="$ctrl.orderProp">
            <option value="name">Alphabetical</option>
            <option value="created_at">Creation</option>
            <option value="earlyest_task">Earlyest Task</option>
          </select>
          <button type="button"
                  class="btn btn-primary"
                  ng-click="createFormColapsed = !createFormColapsed">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
      </form>
    </div>
 </div>
</nav>

<div class="container mt-60">

  <div uib-alert
      ng-repeat="alert in alerts"
      ng-class="'alert-' + (alert.type || 'warning')"
      close="closeAlert($index)"
      dismiss-on-timeout="3000">
    {{alert.msg}}
  </div>

  <div uib-collapse="createFormColapsed">
    <div class="well well-lg">
      <form>
        <div class="form-group">
          <label>Name</label>
          <input class="form-control"
                 name="name"
                 type="text"
                 ng-model="$ctrl.newList.name">
          </input>
        </div>

        <h4>Tasks</h4>

        <div class="row"
             ng-repeat="task in $ctrl.newList.tasks">

          <div class="col-md-8">
            <div class="form-group">
              <label>Description</label>
              <input class="form-control"
                     name="description"
                     type="text"
                     ng-model="task.description">
              </input>
            </div>
          </div>

          <div class="col-md-4">
            <p class="input-group">
              <label>Due date</label>
              <input type="text"
                     class="form-control"
                     uib-datepicker-popup
                     ng-model="task.due_at"
                     is-open="datepickers[$index].open"
                     ng-required="false"
                     close-text="Close" />
              <span class="input-group-btn"
                    style="padding-top: 25px">
                <button type="button"
                       class="btn btn-default"
                       ng-click="openDatepicker($index)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>

        </div>

        <div class="form-group">
          <button type="button"
                  class="btn btn-primary"
                  ng-click="$ctrl.addTask()">
            <i class="glyphicon glyphicon-plus"></i>
            Add Task
          </button>
        </div>

        <div class="form-group">
          <button type="button"
                  class="btn btn-primary"
                  ng-click="$ctrl.create()">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"
         ng-repeat="toDoList in $ctrl.toDoLists | filter:$ctrl.query | orderBy:$ctrl.orderProp">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#!/to-do-lists/{{toDoList.id}}">{{toDoList.name}}</a>
          </h3>
        </div>
        <div class="panel-body">
          <p ng-if="toDoList.earlyest_task"
             class="text-right">First due date at {{toDoList.earlyest_task | date: 'dd/MM/yyyy' }}</p>
          <p ng-if="!toDoList.earlyest_task"
             class="text-right">This List has no due dates</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"
              ng-repeat="task in toDoList.tasks">
            <p>
              <span class="pull-left">{{task.description}}</span>
              <span class="pull-right"><small>{{task.due_at | date: 'dd/MM/yyyy' }}</small></span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
